*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #002700;
    color: white;
    font-family:'Times New Roman';
}
.cruds{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin: 5px;
}
input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    margin: 4px 0;
    background-color: #001400;
    color: white;
    border-radius: 4px;
    padding: 3px;
    transition: 0.2s;
}
input:focus{
    background-color: #000000;
    transform: scale(1.1);
}
.price{
    width: 100%;
    display: flex;
    gap: 3px;
}
#total{
    background-color: #14ff14;
    height: 25px;
    margin: 5px 0;
    padding: 3px;
    border-radius: 4px;
    display: flex;
}
#total::before{
    content: 'Total: ';
}
button{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    margin: 4px 0;
    background-color: #14ff14;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background: #00c500;
    letter-spacing: 1px;
}
.searchby{
    display: flex;
    gap: 25px;
    width: 100%;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
    font-weight: 50;
}
th,td{
    padding: 5px;
}
/* #14ff14 green light eeee
 #00c500 green hover
 #002700 darke bc
 #001400 darker inbc
*/

